## .NET
bin/
obj/
[Dd]ebug/
[Rr]elease/
artifacts/
*.user
*.suo
.vs/

## Rider / VS Code
.idea/
.vscode/

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
coverage*.json
coverage*.xml

## NuGet
*.nupkg
*.snupkg
.nuget/
